* {
	max-width: 100%;
}

html {
	height: 100%;
}

body {
	font-size:16px;
	height: 100%;
	@include background-gradient(#5A3BB4, #CA51DF);
	background-repeat: no-repeat;
	@include preserve-three-dimension()
}

.page-content {
	@include vertical-align();
	text-align: center;
	// min-height: 800px;
}

.title {
	// margin-top: 20%;
	// margin-bottom: 20%;
	color: white;
	font-size: $size-plus-5;
	font-weight: 100;
}

.btn {
    @include sans-serif-font;
    font-size: 1.333333em;
    font-weight: 100;
    box-shadow: none;
    // box-shadow: 0px 1px 2px 2px rgba(black, 0.1);
    max-width: 100%;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-default {
	@include button-variant(white, transparent, white);
}